USE [master]
GO
/****** Object:  Database [LavazzaDB]    Script Date: 2017-03-08 09:44:40 ******/
CREATE DATABASE [LavazzaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LavazzaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.IEO\MSSQL\DATA\LavazzaDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LavazzaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.IEO\MSSQL\DATA\LavazzaDB_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LavazzaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LavazzaDB]
GO
/****** Object:  Table [dbo].[Bundle]    Script Date: 2017-03-08 09:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bundle](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sku] [nvarchar](200) NULL,
	[name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[image] [nvarchar](500) NULL,
	[price] [money] NULL,
	[priority] [int] NULL,
 CONSTRAINT [PK_Bundle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bundle_Capsule]    Script Date: 2017-03-08 09:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bundle_Capsule](
	[id_bundle] [bigint] NOT NULL,
	[id_capsule] [bigint] NOT NULL,
	[quantity] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Capsule]    Script Date: 2017-03-08 09:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capsule](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sku] [nvarchar](200) NULL,
	[name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[image] [nvarchar](500) NULL,
	[price] [money] NULL,
	[priority] [int] NULL,
 CONSTRAINT [PK_Capsule_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LastUpdate]    Script Date: 2017-03-08 09:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastUpdate](
	[Bundle] [nvarchar](200) NULL,
	[Capsule] [nvarchar](200) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Bundle] ADD  CONSTRAINT [DF_Bundle_priority]  DEFAULT ((50)) FOR [priority]
GO
ALTER TABLE [dbo].[Bundle_Capsule] ADD  CONSTRAINT [DF_Bundle_Capsule_quantity]  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Capsule] ADD  CONSTRAINT [DF_Capsule_priority]  DEFAULT ((50)) FOR [priority]
GO
ALTER TABLE [dbo].[Bundle_Capsule]  WITH CHECK ADD  CONSTRAINT [FK_Bundle_Capsule_Bundle] FOREIGN KEY([id_bundle])
REFERENCES [dbo].[Bundle] ([id])
GO
ALTER TABLE [dbo].[Bundle_Capsule] CHECK CONSTRAINT [FK_Bundle_Capsule_Bundle]
GO
ALTER TABLE [dbo].[Bundle_Capsule]  WITH CHECK ADD  CONSTRAINT [FK_Bundle_Capsule_Capsule] FOREIGN KEY([id_capsule])
REFERENCES [dbo].[Capsule] ([id])
GO
ALTER TABLE [dbo].[Bundle_Capsule] CHECK CONSTRAINT [FK_Bundle_Capsule_Capsule]
GO
USE [master]
GO
